<% @page_title = "#{params[:world_name]}: New Admin" %>

<div class="row form-container">
    <%= form_for :admin, url: create_world_admin_url(params[:world_name]) do |f| %>
        <%= render 'shared/error_messages', errors: flash[:errors] %>
        <div id="search-data-users" class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.submit "Add Admin", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>