<% @page_title = @user.username %>
<div>
    <% if current_user_is(@user) %>
    <%= link_to 'edit profile' ,edit_user_path(@user.username) %>
    <% end %>
</div>

<h2>Edit History</h2>
<div class="row">
    <div class="col">
        <% unless @user.edits.empty? %>
            <ul class="list-display">
            <% @edits.find_all do |edit| %>
                <li><%= link_to edit.page.title, world_page_path(edit.page.sub_wiki.world.name, edit.page.title) %><%= " - #{edit.summary} - #{ edit.created_at.strftime("%Y-%m-%d")}" %></li>
            <% end %>
            </ul>
            <%= will_paginate @edits %>
        <% else %>
            <span>No Edits yet!</span>
        <% end %>
    </div>
</div>

<h2>Worlds</h2>
<div class="row">
    <% if @user.owned_worlds.empty? %>
        <th scope='col'>No worlds yet!</th>
    <% else %>
    <%= render partial: "shared/page_list", locals: {count: @user.owned_worlds.count, 
                                                    names: @user.owned_worlds.order("name ASC").pluck(:name), 
                                                    col_length: 15, 
                                                    admin: current_user_is(@user),
                                                    view: root_url + "/worlds/",
                                                    delete: root_url + "/worlds/"} %>
    <% end %>
</div>
<h2>Admin of</h2>
<div class="row">
    <% if @user.admin_worlds.empty? %>
        <th scope='col'>No worlds yet!</th>
    <% else %>
    <%= render partial: "shared/page_list", locals: {count: @user.admin_worlds.where.not(owner: @user).count, 
                                                    names: @user.admin_worlds.where.not(owner: @user).order("name ASC").pluck(:name), 
                                                    col_length: 15, 
                                                    admin: false,
                                                    view: root_url + "/worlds/",
                                                    delete: root_url + "/worlds/"} %>
    <% end %>
</div>