<h1 class='logo'><a href='/'>Worlds Wiki</a></h1>

<% if @world && @world.name %>
<ul>
    <li class="nav-title"><%= @world.name %><li>
    <li><%= link_to "World Page", user_world_path(@world.name) %></li>
    <li><%= link_to "Wiki", world_wiki_path(@world.name) %></li>
    <ul>
        <li><%= link_to "Browse Pages", world_pages_path(@world.name) %>
        <% if @world.is_admin?(current_user) %>
            <li><%= link_to "New Page", new_world_page_path(@world.name) %></li>
        <% end %>
    </ul>
</ul>
<% end %>

<ul>
    <li class='nav-title'>Account</li>
    <% if !current_user.nil? %>
        <li><%= link_to current_user.username, user_path(current_user.username), class: "nav-link" %></li>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %></li>
    <% else %>
        <li><a class="nav-link" href="/login">Login</a></li>
        <li><a class="nav-link" href="/users/new">Signup</a></li>
    <% end %>
</ul>

<ul>
    <li class='nav-title'>Worlds</li>
    <% if current_user %>
        <li><%= link_to "My Worlds", user_worlds_path(current_user.username) %></li>
        <li><%= link_to "New World", new_user_world_path(current_user.username) %>
    <% end %>
    <li><%= link_to "Browse Worlds", worlds_path %>
</ul>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="D9R94HZBBV6Q2" />
<input type="hidden" name="currency_code" value="USD" />
<input type="submit" value="Donate" class="donate-btn" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
</form>