<% @page_title = "#{@category.name}: Add Sub Category" %>

<div class="row form-container">
    <%= form_for :category, url: add_sub_category_url(params[:world_name], params[:category_name]) do |f| %>
        <%= render 'shared/error_messages', errors: flash[:errors] %>
        <div id="search-data-categories" class="form-group" data-categories="<%= Category.in(@world).pluck(:name).sort.to_json %>">
            <%= f.label :name %>
            <%= f.text_field :name, value: "", autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.submit "Add Sub Category", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>