<% @page_title = "Category: #{@category.name}" %>
<span class='sub-title'>From: <%= link_to @world.name, user_world_path(@world.name) %></span>
<% if @category.category %>
<span class='sub-title'>Parent Category: <%= link_to @category.category.name, user_world_category_path(@world.name, @category.category.name) %></span>
<% end %>
<h2>Sub Categories</h2>
<span class="sub-title"><%= link_to "Add Sub Category", add_sub_category_path(@world.name, @category.name) %></span>
<% if @world.sub_wiki.categories.empty? %>
<div>
    <p>No Categories yet!</p>
</div>
<% else %>
<%= render partial: "shared/page_list", locals: {count: @category.sub_categories.count, 
                                                names: @category.sub_categories.order("name ASC").pluck(:name), 
                                                col_length: 15, 
                                                admin: @world.is_admin?(current_user),
                                                view: "",
                                                delete: ""} %>
<% end %>

<h2>Pages</h2>
<span class="sub-title"><%= link_to "Add Page", new_world_page_path(@world.name, category: @category.name) %></span>
<%= render partial: "shared/page_list", locals: {count: @category.pages.count, 
                                                 names: @category.pages.order("title ASC").pluck(:title), 
                                                 col_length: 15, 
                                                 admin: @world.is_admin?(current_user),
                                                 view: root_url + "worlds/#{@world.name}/wiki/pages/",
                                                 delete: root_url + "worlds/#{@world.name}/wiki/pages/"} %>


