<h1><%= @world.name %>'s Wiki</h1>

<div class="row">
    <table class="table">
        <thead class="">
        <tr>
            <th scope="col">Category</th>
            <th scope="col"></th>
            <% if @world.is_admin?(current_user) %>
                <th scope="col"></th>
                <th scope="col"></th>
            <% end %>
        </tr>
        </thead>
        <tbody>
            <% @world.sub_wiki.categories.find_all do |category| %>
                <tr>
                    <th scope="row"> <%= category.name %> </th>
                    <td> <%= link_to "view", user_world_category_path(encode(@world.name), encode(category.name)) %> </td>
                    <% if @world.is_admin?(current_user) %>     
                        <td> <%= link_to "delete", user_world_category_path(encode(@world.name), encode(category.name)), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                        <td> <%= link_to "edit", edit_user_world_category_path(@world.name, category.name) %>
                    <% end %>
                </tr>
            <% end %>
                <% if @world.is_admin?(current_user) %>
                <tr>
                    <td><%= link_to "Add Category", new_user_world_category_path(params[:world_name]) %>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% end %>
        </tbody>
    </table>
</div>