<!DOCTYPE html>
<html>
  <head>
    <% if @page_title %>
      <title> <%= @page_title %> </title>
    <% else %>
      <title>WorldsWiki</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script data-ad-client="ca-pub-7679479122688613" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <% if @head_content %>
      <%= @head_content.html_safe %>
    <% end %>
    <% @world = World.find_by(name: "Worlds Wiki") if @world.nil? %>
  </head>

  <body>
    <div hidden id='world-name' data-worldname="<%= @world.name %>"></div>
    <div class='container'>
      <div class="container side-nav">
        <%= render "/shared/side_nav" %>
      </div>
        <div class="container page">
          <div class="page">
            <%= render "/shared/header" %>
            <div class="container content">
              <% flash.each do |type, msg| %>
                <% if msg.is_a?(String) || msg.is_a?(Symbol) %>
                <div class="alert alert-<%= type %>">
                  <%= msg %>
                </div>
                <% end %>
              <% end %>

              <% if @page_title %>
                <h1 id="page-title"><%= @page_title %></h1>
              <% end %>

              <%= yield %>
              <%= debug(params) if Rails.env.development? %>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
